.task_text {
    border-radius: 10px 10px 3px 3px;
    background-color: #000;
    width: 200%;
    height: 12%;
    padding: 1%;
    font-size: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: -51%;
    margin-top: 12%;
    margin-bottom: 10%;
}

.task_text h1 {
    margin-left: 37%;
}

.combo_task {
    width: 210%;
    height: 10%;
    margin-left: -55%;
    border-radius: 6px;
    align-items: center;
    background-color: #000;
    display: flex;
}

.combo_task_p1 {
    margin-left: 7%;
    margin-right: 6%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.combo_task_p2 {
    margin-left: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.combo_task_coin {
    margin-left: 3%;
    width: 3%;
    height: 30%;
    border-radius: 18px;
    border: 2px solid #f0f0f0;
    background-color: silver;
}

.combo_cart {
    display: grid;
    grid-template-columns: repeat(3, 67%);
    grid-template-rows: repeat(1, 97px);
    margin: 9% 57% 9% -52%;
    gap: 10px;
}

.combo_cart1, .combo_cart2, .combo_cart3 {
    background-color: #000;
    border-radius: 6px;
    border: 3px solid #fff;
}

.task_bar {
    width: 200%;
    height: 8.5%;
    margin-left: -53%;
    display: flex;
    text-align: center;
    background-color: #000;
    border-radius: 6px;
    justify-content: space-between;
    padding: 3%;
}

.task_bar button{
    width: 120%;
    height: 91%;
    text-align: center;
    align-items: center;
}

.bar-button {
    background-color: #000;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    padding: 10px 8px;
    border: none;
    flex: 1;
    margin: 0 5px;
}

.bar-button.active {
    background-color: orangered;
    border-radius: 6px;
}

.bar-content {
    display: none;
}

.bar-content.active {
    display: block;
}

.tasks_list {
    margin-top: 12%;
    display: grid;
    grid-template-columns: repeat(3, 42%);
    grid-template-rows: repeat(3, 259%);
    margin-left: -52%;
    gap: 10px;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 6px;
    border-color: #4caf50;
    font-size: 10%;
}

.achieves_list {
    margin-top: 12%;
    display: grid;
    grid-template-columns: repeat(3, 42%);
    grid-template-rows: repeat(4, 150%);
    margin-left: -52%;
    gap: 10px;
}

.achieves {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-color: #4caf50;
    border-radius: 6px;
    font-size: 10%;
}